$base-color: #004A93;

$active-color: #CC3300;
$font-family: "cambria","serif"!default;


$tabs-dark: $base-color;
$tabs-light: #3385FF;

$tabs-bottom-radius: .4em;
$tabs-bottom-gradient: 'bevel';
$tabs-bar-gradient: 'matte';
$tabs-bottom-active-gradient: 'recessed';
 

@import 'compass/css3/images';

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


@import 'sencha-touch/default/src/Button';
@import 'sencha-touch/default/src/Panel';
@import 'sencha-touch/default/src/Sheet';
@import 'sencha-touch/default/src/MessageBox';
@import 'sencha-touch/default/src/Toolbar';
@import 'sencha-touch/default/src/carousel/Carousel';

@include sencha-button-ui('orange', #CC5200, 'flat');
@include sencha-button-ui('blue', #004A93, 'flat');
@include sencha-button-ui('darkblue', #000066, 'flat');
@include sencha-button-ui('brown', #993300, 'flat');


.x-tab-active img {
    background: white none !important;
}
 
.x-tabbar.x-docked-bottom .x-tab {
    .x-tab-active {
        -webkit-box-shadow: inset rgba(#000, .8) 0 0 5px !important;
    }
    //background-image:url('../icons/roadside/NTTAMSTitleLogo.png') !important;

}

.logo {
    background-image: url('../icons/roadside/NTTAMSTitleLogo.png')    !important;

    
}

